<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Success Login </title>
        <style>
            table, th, td{
            border: 1px solid black;
            width: 500px;
            }
        </style>
    </head>
    <body>
      {{loginuser}}
      {{users}}
        <h1>Success! Welcome, {{loginuser.name}}!</h1>
        <a href="/main/logout">logout</a>
        <table>
           <tr>
             <td>Name</td>
             <td>Alias</td>
             <td>Email Address</td>
             <td>Poke History</td>
             <td>Action</td>
           </tr>
           <tr>
             {% for user in users %}
              <td>{{user.name}}</td>
              <td>{{user.alias}}</td>
              <td>{{user.email}}</td>
              <td>#pokes</td>
              <td>{{user.id}}</td>
              <td>
                <form class="" action='/main/pokes' method="post">
                  {%csrf_token%}
                  <input type="hidden" name="userid" value="{{user.id}}">
                  <input type="submit" name="submit" value="Poke!">
                </form>
              </td>
           </tr>
           {% endfor %}
        </table>

    </body>
</html>
